{% extends "base.html" %}
{% block title %} CodexBook {% endblock %}

{% block content %}

<section class="prueba" id="prueba">
    <h1 class="heading">ranking</h1>
    <div class="inputcaja">
        <select name="lenguaje">
            <option selected="true" disabled="disabled">seleccione el lenguaje</option>
            <option>JAVA</option> 
            <option>JAVASCRIPT</option>
            <option>PYTHON</option>
        </select>
    </div>
    <div class="caja-contenedor">
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono1.png')}}" alt="">                                                
                <h3>Top 1</h3>
                <h3>Uriel Badillo Garrido</h3>
                <div class="comentarios">
                    96% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono2.png')}}" alt="">                                                
                <h3>Top 2</h3>
                <h3>Marifer</h3>
                <div class="comentarios">
                    89% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono3.png')}}" alt="">                                                
                <h3>Top 3</h3>
                <h3>Gabriel Lopez Aguirre</h3>
                <div class="comentarios">
                    82% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono1.png')}}" alt="">                                                
                <h3>Top 4</h3>
                <h3>Pepe</h3>
                <div class="comentarios">
                    80% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono2.png')}}" alt="">                                                
                <h3>Top 5</h3>
                <h3>Jose</h3>
                <div class="comentarios">
                    79% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono3.png')}}" alt="">                                                
                <h3>Top 6</h3>
                <h3>Gabriela</h3>
                <div class="comentarios">
                    72% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">                
                <img src="{{url_for('static', filename='img/icono1.png')}}" alt="">                                                
                <h3>Top 7</h3>
                <h3>Rorro</h3>
                <div class="comentarios">
                    66% en java
                </div>
            </div>
        </div>
        <div class="caja">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="user">            
                <img src="{{url_for('static', filename='img/icono2.png')}}" alt="">                                                
                <h3>Top 8</h3>
                <h3>María</h3>
                <div class="comentarios">
                    65% en java
                </div>
            </div>
        </div>
</section>
{% endblock %}